
thead
{
font-size:18px;
text-align:center;
padding-top:3px;
background-color:green;  
color:black;
}
td
{
font-size:15px;
border:1px solid #008B8B;
padding:3px ;
background-color: LightGreen;

}
tr.alt td 
{
color:Black;
background-color:YellowGreen;
}
